<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" enctype="multipart/form-data">
{% if submit_job %}
    <h1> {{all_jobs}}</h1>

    {%for job_id in finished_jobs%}
        {%for i in range(len(files[job_id][0]))%}
            <li>{{job_id}} : {{files[job_id][0][i]}}</li>
            <a href={{files[job_id][1][i]}} target="_blank">Download</a>
            <br>
        {%endfor%}
        <br>
    {%endfor%}

{% else %}
    <h1> Any jobs for the account. </h1>
{% endif %}
</form>
</body>
</html>