<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" style='display: inline;'>
{% if submit_job %}
    <h2>JobId&emsp;User&emsp;Program&emsp;Status&emsp;SubmissionTime&emsp;FinishTime</h2>
    {%for job in all_jobs%}
        {%for job_elem in job%}
            <b>{{job_elem}}</b>&emsp;&emsp;
        {%endfor%}
        </form>
        <form method="post" style="display: inline;">
            <input type="submit" value='delete {{job[0]}}' name="delete_job_id">
        </form>

        <a href={{save_path}}{{job[0]}}>Download all</a>

        <form method="get" style='display: inline;'>
        {%for i in range(0, job_len[job[0]])%}
            <li>
                {{job[0]}} : <a href={{files[job[0]][1][i]}}> {{files[job[0]][0][i]}} </a>
            </li>
            <br>
        {%endfor%}
        <br>
    {%endfor%}
{% else %}
    <h1> Any jobs for the account. </h1>
{% endif %}
</form>
</body>
</html>