<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HI</title>
</head>
<body>

{% if name %}
    <h1> Hello {{name}}!</h1>
{% else %}
    <h1> Login </h1>
{% endif %}

{% if name %}
<form method="post">
    <p><input type="submit" value="Logout" name="logout">
    <p><input type="submit" value="Upload" name="upload">
    <p><input type="submit" value="Download" name="download">
</form>
{% else %}

{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error> <strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post">
        <dl>
          <dt>Username:
          <dd><input type=text name=username value="{{
              request.form.username }}">
          <dt>Password:
          <dd><input type=password name=password>
        </dl>
        <p><input type=submit value=Login name="login">
        <p><input type="submit" value="Create account" name="create_account">
    </form>
{% endblock %}

{% endif %}

</body>
</html>

