<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/draw.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h3><b>Required channel order: nd2(nuclei, rad51, trans), czi(nuclei, rad51), tif(nuclei, rad51)</b></h3>
<form method="post" enctype="multipart/form-data">
    {% if filename %}
        <input type="file" id="input_file1" name="filename" size="50" value="{{filename}}" onchange="javascript:this.form.submit();"><br>
    {% else %}
        <input type="file" id="input_file2" name="filename" size="50" onchange="javascript:this.form.submit();"><br>
    {% endif %}

{% if info %}
Image width, height: {{info.xSize}}x{{info.ySize}} <small>pixels</small><br>
Pixel microns: {{info.pixelMicrons}} <br>
Z-depth: {{info.zDepth}} <br>
PixelType: {{info.pixelType}} <br>
DyeName: {{info.dyeName}} <br>
DyeId: {{info.dyeId}} <br>
Acquisition date: {{info.time}} <br>
{% endif %}
{% if images %}
    <div class="outsideWrapper">
        <div class="insideWrapper">
            <img id="red" src="{{ url_for('static', filename=images[0]) }}" class="coveredImage">
            <canvas id="canvas" class="coveringCanvas"></canvas>
            <script src="/static/draw.js"></script>
        </div>
    </div>
{% endif %}

    {% if job_id %}
        <p>Job id:<input type="text" name="job_id" value="{{job_id}}"></p>
    {% else %}
        <p>Job id:<input type="text" name="job_id"></p>
    {% endif %}
    <p>
        <label>Nuclei Score:</label>
        {% if nuclei_score %}
            <input type="number" id="nuclei_score1" name="nuclei_score" min="0" max="100" value="{{nuclei_score}}">
        {% else %}
            <input type="number" id="nuclei_score2" name="nuclei_score" min="0" max="100" value="70">
        {% endif %}
        <label>Rad51 Score:</label>
        {% if rad51_score %}
            <input type="number" id="rad51_score1" name="rad51_score" min="0" max="100" value="{{rad51_score}}">
        {% else %}
            <input type="number" id="rad51_score2" name="rad51_score" min="0" max="100" value="85">
        {% endif %}
        <label>Erase dead cells:</label>
        {% if erase == "True": %}
            <input type="checkbox" id="erase1" name="erase" value="True" checked>
        {% else %}
            <input type="checkbox" id="erase2" name="erase" value="True">
        {% endif %}
    </p>
    <script src="/static/draw.js"></script>
    <button type="submit" name="run_program">Upload</button>
</form>

{% if job_exist %}
<p> There is already a same job id on the server, please choose another job id. </p>
{% endif %}

{% if no_file %}
<p> <b>There is no selected file.</b> </p>
{% endif %}

{% if job_submission %}
<p> <b>Successfully job submitted.</b> </p>
{% endif %}
<br>

{% if images %}
    {%for i in range(0, len)%}
        <div class="outsideWrapper">
            <div class="insideWrapper">
                <img id="{{i}}" src="{{ url_for('static', filename=images[i]) }}" class="coveredImage">
            </div>
        </div>
    {%endfor%}
{% endif %}

<p><b>Training data list of the current model(updated Dec 15, 2023)</b></p>
2023_06_29_xy10Pmagni2-rad51gfpNup_011.nd2 (nuclei:x rad51:o)<br>
2023_06_29_xy12Pmagni2-rad51gfpNup_013.nd2 (nuclei:x rad51:o)<br>
2023_06_29_xy14Pmagni2-rad51gfpNup_015.nd2 (nuclei:x rad51:o)<br>
2023_06_29_xy17Pmagni2-rad51gfpNup_020.nd2 (nuclei:x rad51:o)<br>
2023_06_29_xy26Pmagni2-rad51gfpNup_027.nd2 (nuclei:x rad51:o)<br>
10-27-AiryScanProcess.czi (nuclei:o rad51:o)<br>
20231128_JMH032_CompNupGfp_P3.czi (nuclei:o rad51:o)<br>
20231128_JMH032_CompNupGfp_P2.czi (nuclei:o rad51:o)<br>

<p><b>References</b></p>
<p>Mask R-CNN, Kaiming H. et al. <a href="https://doi.org/10.48550/arXiv.1703.06870">https://doi.org/10.48550/arXiv.1703.06870</a></p>

</body>
</html>