<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <input type=text name=job_id>
    <label for="job_type">Choose a program:</label>
    <select name="job_type" id="job_type" multiple>
        <option value="H2B">H2B</option>
        <option value="Rad51">Rad51</option>
    </select>
    <input type="file" id="myFile" name="filename" multiple>
    <input type="submit" value="Upload">
</form>
</body>
</html>